* {margin:0px; padding:0px;}
body {color:#444444; font-size:13px; background: #f2f2f2; font-family:"Century Gothic", Helvetica, sans-serif;}
a, a:link, a:visited {color:#af101b; text-decoration:none;}
a:hover {color:#fff; text-decoration:none;}
h1 {color:#444; font-size:36px; text-shadow:1px 1px 1px #fff; padding:20px;}
img {max-width:100%; height:auto;}
p {padding: 10px 0;}
#content {margin:15px auto; text-align:center; width:640px; position:relative; height:100%;}
#wrapper {width:640px; overflow:hidden;}
ul {list-style:none;}
ul, li {float:left;}
li {position:relative; width:140px; margin:5px; padding:5px; background:#fff;}
